<mat-toolbar color="primary">
  <a routerLink="/events" class="brand">
    <mat-icon>event</mat-icon>
    EventHub
  </a>

  <span class="spacer"></span>

  <ng-container *ngIf="isLoggedIn(); else notLoggedIn">

    <a mat-button routerLink="/events">
      <mat-icon>event</mat-icon>
      Evenimente
    </a>

    <a mat-button routerLink="/invitations">
      <mat-icon>mail</mat-icon>
      Invitatii
    </a>

    <a *ngIf="isOrganizer()" mat-button routerLink="/events/new">
      <mat-icon>add</mat-icon>
      Eveniment nou
    </a>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
      {{ currentUser?.fullName }}
    </button>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/dashboard" style="color: #333 !important;">
        <mat-icon style="color: #333 !important;">dashboard</mat-icon>
        Dashboard
      </button>
      <button mat-menu-item routerLink="/profile" style="color: #333 !important;">
        <mat-icon style="color: #333 !important;">person</mat-icon>
        Profilul meu
      </button>
      <button mat-menu-item routerLink="/admin" *ngIf="currentUser?.role === 'Admin'"
        style="color: #333 !important;">
        <mat-icon style="color: #333 !important;">admin_panel_settings</mat-icon>
        Admin
      </button>
      <button mat-menu-item (click)="logout()" style="color: #333 !important;">
        <mat-icon style="color: #333 !important;">logout</mat-icon>
        Deconectare
      </button>
    </mat-menu>

  </ng-container>

  <ng-template #notLoggedIn>
    <a mat-button routerLink="/login">
      <mat-icon>login</mat-icon>
      Autentificare
    </a>
    <a mat-stroked-button routerLink="/register" style="color: white; border-color: white;">
      Inregistrare
    </a>
  </ng-template>
  

</mat-toolbar>